@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root
{
   --primary-dark: #090B19;
   --white: #FFF;
   --red: #FF1732;
   --learn-more: #1B2E39;
   --bluegrey: #4D5C67;
   --lightgrey: #EBEBEB;
   --grey: #D6DAE9;
   --footer: #25323C;
   --maroon: #3D3139;
   --darkwhite: #f0eded;
   --darkred: #8D3838;

}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 62.5%;
   font-weight: 400;
   letter-spacing: .1px;
   line-height: 1.5;
}

body
{
   font-size: 1.6rem;
}

a
{
   color: inherit;
   display: inline-block;
   text-decoration: none;
}

h1, h3, h4, h5, h6
{
   font-size: 1.2;
   text-transform: capitalize;
}

h1, h2, h3, h4
{
   font-family: 'Arvo', sans-serif;
}

h2, h3
{
   font-weight: 400;
}

h2
{
   font-size: 4.1rem;
}

img
{
   display: block;
   /* object-fit: cover; */
   width: 100%;
}

p
{
   font-size: 1.23rem;
   line-height: 2.5rem;
}

section
{
   text-align: center;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

/* .active, a:hover
{
   color: var();
} */

.btn
{
   background-color: var(--red);
   border: none;
   border-radius: 5rem;
   color: var(--white);
   display: inline-block;
   font-family: 'Arvo', sans-serif;
   font-size: 1.6rem;
   line-height: 3.6rem;
   padding: 0 4rem;
}

.learn-more
{
   background-color: var(--learn-more);
}

.container
{
   margin: 0 auto;
   max-width: 102rem;
}

.d-flex
{
   display: flex;
}

.d-grid
{
   display: grid;
   grid-template: auto / repeat(12, 1fr);
   gap: 3.2rem;
}

.d-grid2
{
   display: grid;
   grid-auto-rows: auto;
   grid-template-columns: repeat(48, 1fr);
   gap: 2rem;
}

.col-1
{
   grid-column: span 1;
}

.col-2
{
   grid-column: span 2;
}

.col-3
{
   grid-column: span 3;
}

.col-4
{
   grid-column: span 4;
}

.col-5
{
   grid-column: span 5;
}

.col-6
{
   grid-column: span 6;
}

.col-7
{
   grid-column: span 7;
}

.col-8
{
   grid-column: span 8;
}

.col-9
{
   grid-column: span 9;
}

.col-10
{
   grid-column: span 10;
}

.col-16
{
   grid-column: span 16;
}

.col-19
{
   grid-column: span 19;
}

.col-22
{
   grid-column: span 22;
}

.col-26
{
   grid-column: span 26;
}



/* ------ HEADER ------ */

header
{
   line-height: 11rem;
   background-color: var(--primary-dark);
   /* position: fixed; */
   /* width: 100%; */
}

header nav
{
   align-items: center;
   justify-content: space-between;
   color: var(--white);
}

#logo
{
   color: var(--white);
   font-family: 'Arvo', sans-serif;
   font-size: 2.5rem;
   font-weight: 700;
   grid-column: 3 / 10;
}

.hd h2
{
   text-transform: capitalize;
}

.fa-bars
{
   font-size: 3.8rem;
   grid-column: 46 / 47;
}



/* ------ HERO ------ */

.hero
{
   height: 100vh;
   background-color: var(--primary-dark);
}

.hd
{
   /* padding: 39rem 0 21rem; */
   padding: 24rem 0 21rem;
}

.hd h2
{
   color: var(--white);
   font-weight: 400;
   grid-column: 18 / span 14;
   line-height: 7rem;
   margin-bottom: 6.7rem;
   text-align: center;
}

.tour, .learn-more
{
   font-size: 1.2rem;
   width: 18rem;
}

.tour
{
   grid-column: 20 / span 5;
}

.learn-more
{
   grid-column: 25 / span 5;
}

.fa-chevron-down
{
   color: var(--white);
   font-size: 3.9rem;
   font-weight: 900;
}



/* ------ SERVICES ------ */

.services
{
   padding: 9rem 0 12rem;
   text-align: center;
}

.services article
{
   gap: 7rem;
}

.services article i
{
   font-size: 4.7rem;
   margin-bottom: 4.1rem;
}

.services article h5
{
   font-size: 1.8rem;
   font-weight: 600;
   margin-bottom: 3.1rem;
}



/* ------ CAPTURE ------ */

.stats
{
   gap: 0;
}

.capture
{
   background-color: var(--maroon);
   color: var(--darkwhite);
   padding: 8.6rem 8.6rem 8.6rem 40rem;
   text-align: start;
}

.capture h4
{
   font-size: 2.3rem;
   font-weight: 500;
   line-height: 5rem;
   margin-bottom: 3.4rem;
}

.capture > p
{
   margin-bottom: 3.1rem;
}

.boxes
{
   gap: 2.9rem;
}

.box
{
   border: 1px solid ;
   font-weight: 300;
   justify-content: center;
   padding: 3.1rem 2.4rem 2.9rem;
   text-transform: capitalize;  
   width: 17.5rem;
}

.box div > p:nth-child(1)
{
   margin-bottom: 2.7rem;
}

.box div p
{
   font-size: 2.15rem;
}

.shops
{
   text-align: center;
}

.branches
{
   text-align: center;
}

.darkred
{
   background-color: var(--darkred);
   flex: 1 1 100%;
}



/* ------ REMEMBER ------ */

.remember
{
   gap: 4.9rem;
   padding: 8.6rem 0 10rem;
   text-align: start;
}

.rem-txt h3
{
   font-size: 3.4rem;
   line-height: 7rem;
   margin-bottom: 3.4rem;
}

.rem-txt p
{
   font-size: 1.21rem;
   margin-bottom: 2rem;
}

.rem-txt a
{
   line-height: 3.6rem;
   padding-left: 3.5rem;
   text-align: center;
}

.fa-arrow-right
{
   font-size: 1.2rem;
   padding-left: 1.2rem;
}

.carre
{
   width: 44.6rem;
}



/* ------ AVATAR ------ */

.avatar
{
   gap: 0;
}

.avatar .col-22
{
   background-color: var(--grey);
   padding-top: 3.9rem;
}

.avatar div img
{
   grid-column: 7 / span 4;
}

.avatar .col-26
{
   background-color: var(--bluegrey);
   color: var(--darkwhite);
   padding: 9rem 27rem 14rem 8.7rem;
   text-align: left;
}

.honestly, .name
{
   font-size: 2.3rem;
   line-height: 5.4rem;
}

.honestly
{
   font-style: italic;
   font-weight: 300;
   margin-bottom: 3.4rem;
}

.job
{
   line-height: 4.1rem;
}



/* ------ BLOCS ------ */

.blocs
{
   background-color: var(--lightgrey);
   padding: 12rem 0 15rem;
}

.d-grid3
{
   display: grid;
   grid-template-rows: repeat(34, 11);
   grid-template-columns: repeat(12, 1fr);
   gap: 32px;
}

.bloc-1
{
   grid-row: 1 / 8;
   grid-column: 1 / span 8;
}

.bloc-2
{
   grid-row: 1 / 15;
   grid-column: 9 / span 4;
}

.bloc-3
{
   grid-row: 8 / 19;
   grid-column: 1 / span 4;
}

.bloc-4
{
   grid-row: 8 / 17;
   grid-column: 5 / span 4;
}

.bloc-5
{
   grid-row: 15 / 25;
   grid-column: 9 /span 4;
   /* align-self: baseline; */
   /* row-gap: 32px; */
}

.bloc-6
{
   align-self: stretch;
   grid-row: 17 / 25;
   grid-column: 5 / span 4;
}

.bloc-7
{
   align-self: end;
   grid-row: 19 / 34;
   grid-column: 1 / span 4;
}

.bloc-8
{
   grid-row: 25 / 34;
   grid-column: 5 / span 8;
}



/* ------ BRANDS ------ */

.brands
{
   padding: 5rem 0 6rem;
}

.brands div
{
   justify-content: space-between;
}

.brands div img
{
   object-fit: contain;
   width: 8rem;
}



/* ------ COMMERCE ------ */

.commerce
{
   background-color: var(--primary-dark);
   color: var(--darkwhite);
   padding: 9.7rem 0 10.1rem;
}

.commerce article
{
   padding-right: 1.8rem;
   text-align: start;
}

.commerce article h2
{
   line-height: 6rem;
}

.commerce article p
{
   text-align: justify;
}

.subscribe
{
   grid-column: 1;
   width: 21.9rem;
}



/* ------ FOOTER ------ */

footer
{
   background-color: var(--footer);
   color: var(--white);
   /* padding: 2.7rem 0 3.7rem; */
}

footer div
{
   align-items: center;
   justify-content: space-between;
}

footer div a
{
   line-height: 5rem;
   padding: 4rem 0;
}

.logo-footer
{
   font-family: 'Arvo', sans-serif;
   font-size: 4.1rem;
   font-weight: 700;
   grid-column: 1;
}

.facebook
{
   grid-column: 8;
   width: 1rem;
}

.twitter
{
   /* grid-column: 9; */
   width: 2.3rem;
}

.youtube
{
   /* grid-column: 10; */
   width: 2.7rem;
}

.tumblr
{
   /* grid-column: 11; */
   width: 1.3rem;
}

.dribble
{
   /* grid-column: 12; */
   width: 2rem;
}



/* ------ RESPONSIVE ------ */

@media (max-width: 1679px)
{
   .stats, .avatar
   {
      display: flex;
      flex-wrap: wrap;
   }

   .avatar div
   {
      flex: 1 1 100%;
   }
}

@media (max-width: 998px)
{

}