@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root
{
   --primary-dark: #000;
   --white: #FFF;
   --red: #F00;
   --darkgrey: #21423a;
   --lightgrey: #d6d6d6;
   --grey: #515c58;
   --maroon: #471212;
   --darkred: #910909;
}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   font-family: 'Arvo', Arial, sans-serif;
   font-size: 62.5%;
   line-height: 1.5;
}

body
{
   font-size: 1.6rem;
}

a
{
   color: inherit;
   text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6
{
   font-size: 1.2;
   font-weight: 700;
}

img
{
   display: block;
   width: 100%;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

/* .active, a:hover
{
   color: var();
} */

.btn
{
   background-color: var(--red);
   border-radius: 5rem;
   color: var(--white);
   display: inline-block;
   line-height: 5rem;
   padding: 0 4rem;
}

.learn-more
{
   background-color: var(--darkgrey);
}

.container
{
   margin: 0 auto;
   max-width: 140rem;
}

.d-grid
{
   display: grid;
   grid-template: auto / repeat(12, 1fr);
   gap: 2.4rem;
}

.col-1
{
   grid-column: span 1;
}

.col-2
{
   grid-column: span 2;
}

.col-3
{
   grid-column: span 3;
}

.col-4
{
   grid-column: span 4;
}

.col-5
{
   grid-column: span 5;
}

.col-6
{
   grid-column: span 6;
}

.col-7
{
   grid-column: span 7;
}

.col-8
{
   grid-column: span 8;
}



/* ------ HEADER ------ */

header
{
   background-color: var(--primary-dark);
   position: sticky;
   width: 100%;
}

header nav
{

}

.logo
{
   color: var(--white);
   font-size: 2.3rem;
   font-weight: 700;
}

/* MENU BURGER */
.menu-burger
{
   color: var(--primary-dark);
}

.menu-icon i
{
   background-color: var(--white);
   cursor: pointer;
   display: inline-block;
   height: 5px;
   padding: 1.2rem 0 1.2rem 1.2rem;
   transition: all .3s ease;
   width: 2.3rem;
   z-index: 1;
}

.menu-icon i + i
{
   margin: 3px 0;
}



/* ------ HERO ------ */

.hero
{
   background-color: var(--primary-dark);
}

h1, .compromise, .hero .btn
{
   color: var(--white);
   margin: 0 auto;
   max-width: 100%;
}