@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

:root
{
   --dark: #000629;
   --darkgrey: #c0c0c0; 
   --grey: #e0e0e0;
   --white: #fff;
}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   color: var(--dark);
   font-family: 'Roboto', sans-serif;
   font-size: 62.5%;
   letter-spacing: 1px;
   line-height: 1.5;
}

body
{
   font-size: 1.9rem;
}

a
{
   color: inherit;
   text-decoration: none;
}

h1, h2
{
   font-weight: 700;
   margin: 2.7rem 0;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

.active, a:hover
{
   color: var(--dark);
}

.btn
{
   background-color: var(--dark);
   color: var(--white);
   cursor: pointer;
   display: inline-block;
   height: 6rem;
   line-height: 0;
   margin: 2.7rem 0;
   /* padding: 3.2rem 0; */
   text-align: center;
   text-transform: uppercase;
   width: 27rem;
}

.container
{
   margin: 0 auto;
   max-width: 113.6rem;
}

.d-flex
{
   display: flex;
}

.d-grid
{
   display: grid;
}



/* ------ HEADER ------ */

header
{
   border-bottom: .7px solid var(--grey);
   padding: 2.9rem 0;
   width: 100%;
}

header > nav
{
   align-items: center;
   justify-content: space-between;

}

header > nav ul
{
   color: var(--darkgrey);
   font-weight: 500;
   gap: 2.4rem;
}

header > nav > a
{
   font-size: 1.9rem;
   font-weight: 800;
}



/* ------ HERO ------ */

.hero
{
   
}

.hero > div
{
   border-bottom: .7 solid var(--grey);
   padding-bottom: 4.4rem;
}

.hero > div > p
{
   color: var(--darkgrey);
   font-size: 1.4rem;
   margin-bottom: 3.4rem;
   margin-top: 2.4rem;
   text-transform: uppercase;
}

.hero > div > p > span
{
   color: var(--grey);
}

.hero > div > article
{
   gap: 3.2rem;
}

.photos
{
   grid-template: repeat(4, 16.3rem) / repeat(3, 21.6rem);
   gap: 1.5rem;
   max-width: 64.9em;
   height: 61.5rem;
}

img
{
   height: 100%;
   object-fit: cover;
   width: 100%;
}

.ap1
{
   grid-row: 1 / 4;
   grid-column: 1 / 4;
}

.ap2
{
   grid-row: 4 / 5;
   grid-column: 1 / 2;
}

.ap3
{
   grid-row: 4 / 5;
   grid-column: 2 / 3;

}

.ap4
{
   grid-row: 4 / 5;
   grid-column: 3 / 4;
}

.description
{
   max-width: 45.5rem;
}

h1
{
   font-size: 4.5rem;
}

h2
{
   font-size: 3.4rem;
}

.p1
{
   border-top: .7px solid var(--grey);
   padding-bottom: 2rem;
   padding-top: 2.7rem;
}

/* .description > h3::after
{
   content: "";
   border: .7px solid var(--grey);
   transform: rotate(90deg) translateY(7px);
} */

.btn[value="ajouter au panier"]
{

   font-size: 1.9rem;
   text-transform: uppercase;
}



/* ------ AUTRES ------ */

.autres
{
   
}