@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root
{
   --dark: #1f1f1f;
   --grey: #a1a1a1; 
   --lightgrey: #e0e0e0;
   --white: #fff;
}

*, *::before, *::after
{
   box-sizing: border-box;
}

*
{
   margin: 0;
   padding: 0;
}

html
{
   color: var(--dark);
   font-family: 'Montserrat', sans-serif;
   font-size: 62.5%;
   line-height: 1.5;
}

body
{
   font-size: 1.6rem;
}

a
{
   color: inherit;
   text-decoration: none;
}

h1, h2, h3, h4
{
   font-weight: 500;
   line-height: 1.2;
}

img
{
   display: block;
   width: 100%;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

.active, a:hover
{
   /* !important : placé en fin de valeur de propriété, surcharge les autres règles css en rendant celle-ci prioritaire. */
   color: var(--dark)!important;
}

.btn
{
   background-color: var(--dark);
   color: var(--white);
   cursor: pointer;
   display: inline-block;
   font-size: 1.8rem;
   letter-spacing: .7px;
   line-height: 6.1rem;
   padding: 0 4rem;
   text-align: center;
   text-transform: uppercase;
}

.container
{
   margin: 0 auto;
   max-width: 114rem;
   padding: 0 2.9rem;
}

.d-flex
{
   display: flex;
}

.d-grid
{
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(12, 1fr);
   gap: 2.4rem;
}

.col-2
{
   grid-column: span 2;
}

.col-4
{
   grid-column: span 4;
}

.col-5
{
   grid-column: span 5;
}

.col-7
{
   grid-column: span 7;
}

.col-8
{
   grid-column: span 8;
}

.col-10
{
   grid-column: span 10;
}

.col-12
{
   grid-column: span 12;
}



/* ------ HEADER ------ */

header
{
   background-color: var(--white);
   border-bottom: .7px solid var(--lightgrey);
   position: fixed;
   width: 100%;
}

header > nav
{
   align-items: center;
   justify-content: space-between;
}

.logo
{
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: .7px;
   line-height: 8rem;
}

.menu
{
   color: var(--grey);
   gap: 2.4rem;
   justify-content: end;
}

.menu li a
{
   display: inline-block;
   font-size: 1.8rem;
   line-height: 8rem;
}

/* MENU BURGER */
#menu-burger, .menu-icon
{
   display: none;
   justify-self: end;
}

.menu-icon i
{
   display: block;
   width: 20px;
   height: 1px;
   background-color: var(--dark);
   transition: transform .3s ease;
}

/* Le + sélectionne l'élément b (ici, <i>) suivant immédiatemment l'élément a (ici, un autre <i>) et uniquement celui-ci. */
.menu-icon i + i
{
   margin-top: 6px;
}

/* Le ~ sélectionne l'(ou les) élément(s) (ici, celui avec la classe menu) suivant immédiatement OU NON un élément (ici, celui avec l'id menu-burger) situés au même niveau d'imbrication (ayant le même parent). */
#menu-burger:checked ~ .menu
{
   height: calc(100vh - 8rem);
   opacity: 1;
}

#menu-burger:checked + .menu-icon i:nth-child(1)
{
   transform: translateY(7px) rotate(45deg);
}

#menu-burger:checked + .menu-icon i:nth-child(2)
{
   opacity: 0;
}

#menu-burger:checked + .menu-icon i:nth-child(3)
{
   transform: translateY(-7px) rotate(-45deg);
}



/* ------ HERO ------ */

.hero
{
   padding-top: 8rem;
}


/* FIL D'ARIANE */
.fil-ariane
{
   margin: 2.4rem 0 3.4rem;
}

.fil-item a
{
   color: var(--grey);
   font-size: 1.4rem;
   letter-spacing: .7px;
   text-transform: uppercase;
}

.fil-item a:active
{
   color: var(--dark);
}

.fil-item + .fil-item::before
{
   content: "/";
   color: var(--lightgrey);
   display: inline-block;
   padding: 0 .9rem;
}


/* ARTICLE */

   /* PHOTOS */
.list-img
{
   gap: 1.2rem;
   margin-top: 1.5rem;
}

/* Pour autoriser à grandir les 3 images en dessous de la principale. */
.list-img li
{
   flex: 1 1 auto;
}


   /* DESCRIPTION */
.description
{
   margin-left: 1.4rem;
}

.heading
{
   margin: 2.7rem 0;
}

.heading h1
{
   font-size: 4rem;
}

.heading p
{
   font-size: 3.1rem;
   font-weight: 500;
   margin-top: 1.4rem;
}

.paragraphes
{
   border-top: .7px solid var(--lightgrey);
   padding: 3.1rem 0 3rem;
   text-transform: capitalize;
}

.p1
{
   padding-bottom: 1.8rem;
}

.p1, .p2
{
   line-height: 2.1rem;
}

.bord
{
   border-bottom: .7px solid var(--lightgrey);
   padding-bottom: 4.4rem;
}



/* ------ SINON ------ */

.autres div
{
   margin-bottom: 6rem;
}

.autres div h2
{
   margin: 4.6rem 0;
   font-size: 3.3rem;
}

.autre
{
   column-gap: 3.2rem;
   text-transform: capitalize;
}

.autre a h3
{
   font-size: 2.4rem;
   font-weight: 400;
   margin-bottom: 1rem;
   margin-top: 2.7rem;
}

.autre a p
{
   font-size: 1.8rem;
   margin-bottom: 1.8rem;
}



/* ------ FOOTER ------ */

footer
{
   background-color: var(--dark);
   color: var(--white);
   line-height: 8rem;
   text-align: center;
   text-transform: capitalize;
}



/* ------ RESPONSIVE ------ */

@media (max-width: 992px)
{
   .col-4, .col-5, .col-7
   {
      grid-column: span 12;
   }
}

@media (max-width: 768px)
{
   /* Dans un même niveau de hiérarchie, le sélecteur de classe sera toujours plus précis qu'un sélecteur de type (de balise). */
   /* header nav */
   .head-nav
   {
      row-gap: 0;
   }

   .menu-icon
   {
      cursor: pointer;
      display: inline-block;
      z-index: 1;
   }

   .menu
   {
      align-items: center;
      flex: 1 1 100%;
      flex-direction: column;
      grid-column: span 12;
      height: 0;
      justify-content: center;
      opacity: 0;
      transition: all .3s ease-in-out;
   }

   .menu li 
   {
      text-align: center;
      width: 100%;
   }
}