@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root
{
   --dark: #000629;
   --darkgrey: #c0c0c0; 
   --grey: #e0e0e0;
   --white: #fff;
}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html
{
   color: var(--dark);
   font-family: 'Montserrat', sans-serif;
   font-size: 62.5%;
   line-height: 1.5;
}

body
{
   font-size: 1.9rem;
}

a
{
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}

h1, h2, h3, h4
{
   font-weight: 500;
   line-height: 1.2;
}

img
{
   display: block;
   object-fit: contain;
   width: 100%;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

.active, a:hover
{
   color: var(--dark);
}

.btn
{
   background-color: var(--dark);
   color: var(--white);
   display: inline-block;
   font-size: 2rem;
   line-height: 6.1rem;
   padding: 0 4rem;
   text-align: center;
   text-transform: uppercase;
}

.container
{
   margin: 0 auto;
   max-width: 120rem;
}

.d-flex
{
   display: flex;
}

.d-grid
{
   display: grid;
}



/* ------ HEADER ------ */

header
{
   border-bottom: .7px solid var(--grey);
   padding: 2.9rem 0;
   width: 100%;
}

header > nav
{
   align-items: center;
   justify-content: space-between;
}

.logo
{
   font-size: 2.4rem;
   font-weight: 700;
   letter-spacing: 1px;
}

header > nav ul
{
   color: var(--darkgrey);
   font-weight: 500;
   gap: 2.4rem;
}

header nav ul li a
{
   display: inline-block;
   font-size: 2rem;
}



/* ------ HERO ------ */

/* FIL D'ARIANE */

.hero > div > p
{
   color: var(--darkgrey);
   font-size: 1.6rem;
   margin-bottom: 3.4rem;
   margin-top: 2.4rem;
   text-transform: uppercase;
}

.hero > div > p > span
{
   color: var(--grey);
}

/* ARTICLE */

   /* PHOTOS */
.photos
{
   gap: 1.5rem;
   grid-template-columns: repeat(3, 1fr);
   margin-bottom: 4.5rem;
   min-width: 64.8rem;
}


.ap1
{
   grid-row: 1 / 2;
   grid-column: 1 / 4;
}

/* .ap2
{
   grid-row: 2 / 3;
   grid-column: 1 / 2;
} */

/* .ap3
{
   grid-row: 2 / 3;
   grid-column: 2 / 3;
} */

/* .ap4
{
   grid-row: 2 / 3;
   grid-column: 3 / 4;
} */

   /* DESCRIPTION */
.description
{
   margin-left: 3.2rem;
}

.heading
{
   margin: 3.3rem 0;
}

.heading h1
{
   font-size: 4rem;
}

.heading p
{
   font-size: 3.1rem;
   font-weight: 500;
   margin-top: 1.4rem;
}

.paragraphes
{
   border-top: .7px solid var(--grey);
   padding: 3.3rem 0 3rem;
   text-transform: capitalize;
}

.p1
{
   padding-bottom: 1.9rem;
}

.p1, .p2
{
   /* font-weight: 500; */
   line-height: 2.2rem;
}

/* .description > h3::after
{
   content: "";
   border: .7px solid var(--grey);
   transform: rotate(90deg) translateY(7px);
} */

.bord
{
   height: .1px;
   background-color: var(--grey);
   margin: 0 auto;
   box-shadow: 0 0 .3px;
   width: 126rem;
}

/* ------ SINON ------ */

.sinon div h2
{
   margin: 5rem 0;
}

.autres
{
   gap: 3.2rem;
   grid-template: 1fr / repeat(3, 1fr);
   text-transform: capitalize;
}

.autre a h3
{
   font-size: 2.7rem;
   font-weight: 400;
   margin-bottom: 2rem;
   margin-top: 2.7rem;
}

.autre a p
{
   padding-bottom: 8rem;
}



/* ------ FOOTER ------ */

footer
{
   background-color: var(--dark);
   color: var(--white);
   line-height: 8rem;
   text-align: center;
   text-transform: capitalize;
}