*
/* {
   box-sizing: border-box;
} */

.a
{
   background-color: grey;
}

.b
{
   background-color: yellow;
}

.c
{
   background-color: orange;
}

.d
{
   background-color: red;
}

.e
{
   background-color: pink;
   margin: 50px;
}

.taille
{
   height: 150px;
   width: 150px;
}

.p-30{
   padding: 30px;
} 

.border
{
   border: 15px solid black;
}