/* body
{
   background-color: #eee;
} */

div
{
   /* background-color: white;
   border-width: 2px;
   border-style: solid;
   border-color: blue; */

   /* border-radius: 10px;

   border: 2px solid black; */

   /* border-style: double;
   padding: 10px; */

   /* box-shadow: 10px 5px 20px 15px (0 0 0 /0.05); */
   width: 200px;
   height: 200px;
   background-color: #07f5a6;
   overflow: hidden;

}

.bkg-img
{
   background-image: url(../img/téléchargement.jpg);
   background-position: center;
   /* background-repeat: no-repeat; */
   background-size: cover;
}