@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body
{
   font-family: "Montserrat", sans-serif;

}

.container
{
   display: flex;
   flex-wrap: wrap;
   height: 100vh;
}

.f
{
   align-content: center;
   color: #fff;
   flex: 1 1 24%;
   font-size: 100px;
   font-weight: 600;
   margin: .5%;
   text-align: center;
   text-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
   box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}

.f1
{
   background-color: salmon;
}

.f2
{
   background-color: lightblue;
}

.f3
{
   background-color: yellow;
}

.f4
{
   background-color: lightgreen;
}

.f5
{
   align-content: center;
   background-color: blueviolet;
   color: #fff;
   flex: 1 1 99%;
   font-family: "Montserrat", sans-serif;
   font-size: 100px;
   font-weight: 600;
   margin: .5%;
   text-align: center;
   text-shadow: 3px 3px 0 rgba(0, 0, 0, .3);
   box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}

.f6
{
   background-color: black;
}

.f7
{
   background-color: orange;
}

.f8
{
   background-color: grey;
}

.f9
{
   background-color: lightseagreen;
}

/* @media screen and (min-width: 1024px) and (max-width: 1200px)
{
  .container
  {

  }
} */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
   .f
   {
      flex: 1 1 49%;
   }
}

@media screen and (min-width: 600px) and (max-width: 768px)
{
   .f
   {
      flex: 1 1 99%;
   }

}

@media screen and (max-width: 599px)
{
   .f
   {
      flex: 1 1 99%;
   }

   .f5
   {
      order: 1;
   }

   .f1
   {
      order: 4;
   }

   .f2
   {
      order: 5;
   }

   .f3
   {
      order: 6;
   }

   .f4
   {
      order: 2;
   }

   .f6
   {
      order: 3;
   }

   .f7
   {
      order: 9;
   }

   .f8
   {
      order: 7;
   }

   .f9
   {
      order: 8;
   }
}
  