/* Pour cibler un élément unique => #id */
/* Pour cibler plusieurs éléments => .classe */

/* Élement HTML ciblé */
h1
{
   /* Propriétés CSS => color (nom): aqua (valeur); */
   color: aqua;
   font-size: 46px;
}

/* p
{
   color: purple;
} */

.color-red
{
   color: red
}

#p1
{
   color: green
}