@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1.5;
}

body
{
   color: #707070;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: .2;
}

.d-flex
{
   display: flex;
}

.up
{
   text-transform: uppercase;
}

.f-w
{
   font-weight: 700;
}

.l-s
{
   letter-spacing: .3px;
}

.m-b
{
   margin-bottom: 24px;
}

nav
{
   justify-content: space-around;
   align-items: center;
}

nav > div > a
{
   color: #707070;
   display: inline-block;
   line-height: 89px;
   margin: 0 25px;
   text-decoration: none;
   text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

nav > div > a:hover, .active
{
   color: #506afd;
}


/* {
   color: #506afd;
} */

.hero
{
   background-image: url("../img/hfoe-motif.jpg");
   color: #fff;
   height: 231px;
   padding: 60px 20px;
   text-align: center;
}

h1
{
   font-size: 48px;
   line-height: normal;
}

.hero p
{
   font-size: 24px;
}

main
{
   height: 500px;
   margin: 61px 0;
   width: 1400px;
}

h2
{
   font-size: 48px;
   margin-bottom: 24px;
}

.p2
{
   padding-bottom: 41px;
   padding-right: 99px;
   width: 711px;
}

section:nth-of-type(2){
   justify-content: center;
   align-items: center;
}

#course
{
   background-color: #fff;
   border: 2px double #707070;
   border-radius: 4px;
   color:#707070;
   line-height: 65px;
   width: 173px;
}

footer
{
   background-color: #ffa632;
   color: #fff;
   flex-direction: column;
   height: 234px;
   /* justify-content: center; */
   /* align-items: center; */
   padding: 27px;
   text-align: center;
}

h3
{
   font-size: 32px;
   margin-bottom: 16px;
}

footer > div > p
{
   margin-bottom: 32px;
}

#email
{
   border: none;
   border-radius: 4px;
   line-height: 50px;
   padding-left: 6px;
   width: 245px;
}

footer > div > form > button
{
   background-color: #ffa632;
   border: 2px solid #fff;
   border-radius: 4px;
   color: #fff;
   line-height: 46px;
   margin-left: 20px;
   width: 155px;
}
