@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* permet de creer des variables que l'on va pouvoir rappeler dans les proprietés ce qui permettra d'avoir une seul valeur a changer si par exemple une couleur change */
:root{
  --dark-blue: #000829;
  --text-color: #666B7F;
  --primary-color: #25DB87;
  --primary-hover: #41FF6E;
  --gray-color: #F6F6F6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  color: var(--text-color);
  line-height: 1.5;
  font-size: 1.8rem;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{list-style-type: none;}

.container{
  max-width: 140rem;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

h2{
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2rem;
  line-height: 1.2;
  color: var(--dark-blue);
}

/* ---- HEADER ---- */
header{
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .04);
  background-color: #fff;
}

header nav{
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.menu{
  gap: 3.2rem;
}

.menu li a{
  display: block;
  line-height: 7rem;
  font-weight: 500;
}

.menu .active,.menu li:hover{
  color: var(--dark-blue);
}

/* ---- HERO BANNER ---- */
.hero-banner{
  /* background: background-image background-repeat background-position background-size */
  background: url('../img/hero-bkg.png') no-repeat center center/cover;
  height: 100vh;
  align-items: center;
  padding: 0 2rem;
}

/* permet de pousser le contenu vers la gauche a fin d'avoir le bon rendu  */
.hero-banner article{
  padding-right: 40%;
}

.hero-banner article h1{
  font-size: 6.4rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.hero-banner article p{
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.btn{
  display: inline-block;
  border-radius: 3px;
  line-height: 6rem;
  padding: 0 3.2rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all .7s ease;
} 

.primary-btn{
  color: #fff;
  background-color: var(--primary-color);
}

.primary-btn:hover{
  background-color: var(--primary-hover);
}

/* ---- SERVICES ---- */
.services, .clients, .contact{
  /* padding: 12rem 2rem; */
  padding: 6.5vw 2rem;
  text-align: center;
}

.services p, .clients p, .contact p {
  margin-bottom: 8rem;
}

.services .container{
  gap: 3.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  flex-basis: 31%;
}

.service i {
  font-size: 5rem;
  color: var(--primary-color);
  width: 13rem;
  line-height: 13rem;
  border-radius: 50%;
  background-color: #D3F8E7;
  margin-bottom: 2.4rem;
}

.service h3 {
  font-size: 2.4rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
  font-weight: 700;
}

.service .container p {
  font-size: 1.6rem;
}

/* ---- ABOUT ---- */
.about img{
 display: block;
 width: 50%;
}

.about-content{
  /* padding: 14.5rem 4.8rem; */
  padding: 7vw 4.8rem;
  background-color: var(--gray-color);
}


.about-content p{
  margin-bottom: 4.8rem;
}

/* ---- CLIENTS ---- */
/* .clients{
  padding: 12rem 4.8rem;
  text-align: center;
} */

.clients .container{
  /* justify-content: space-between; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  /* gap: row-gap column-gap */
  /* column-gap: 4rem;
  row-gap: 4rem; */
}

/* ---- CONTACT ---- */
.contact{
  background-color: var(--gray-color);
}

.contact form{
  width: 40%;
  margin: 0 auto;
}

.form-group label{
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .4rem;
}

.form-group input, .form-group textarea{
  display: block;
  width: 100%;
  outline: none;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
}

.form-group input{
  line-height: 2.2rem;
}

.form-group input:focus, .form-group textarea:focus{
  border: 2px solid var(--dark-blue);
}

.form-group textarea{ 
  resize: none;
}

.contact .primary-btn{
  border-style: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

/* ---- FOOTER ---- */
footer{
  background-color: var(--dark-blue);
  text-align: center;
}

footer p{
  font-size: 1.6rem;
  line-height: 9rem;
  font-weight: 500;
  color: #fff;
}

/* ---- MEDIA QUERIES ---- */
@media (max-width: 599px) {

  .hero-banner article h1{
    font-size: 4.8rem;
  }

  h2{
    font-size: 4rem;
  }

  /* header */
  .menu{
    display: none;
  }

  /* hero banner */
  .hero-banner article{
    padding-right: inherit;
  }

  /* services */
  .service {
    flex-basis: 100%;
  }

  /* about */
  .about{
    display: block;
  }

  .about img{
    width: 100%;
  }

  /* clients */

  /* .clients .container{
    justify-content: center;
  } */

 
  /* contact */

  .contact form {
    width: 100%;

  }
}