@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}

html
{
   font-size: 16px;
   scroll-behavior: smooth;
}

a
{
   color: inherit;
   text-decoration: none;
}

body
{
   color: #000;
   font-family: "Roboto", sans-serif;
   line-height: 1.5;
}

.d-flex
{
   display: flex;
}

.f-s
{
   font-size: 100px;
   line-height: 1.2;
}



/* ------ HEADER ------ */

header
{
   background-color: #f5f5f5;
   padding: 20px;
   position: fixed;
   width: 100%;
}

nav
{
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

nav div a
{
   display: inline-block;
   /* Line-height : ajuste automatiquement la position du texte dans un bloc au milieu */
   line-height: 89px;
   margin-left: 36px;
   text-align: right;

}



/* ------ SECTION 1 (chaise blanche) ------ */

.chair-1
{
   min-height: 83vh;
}

.chair-1>*
{
   flex: 1 1 50%;
}

.chair
{
   object-fit: cover;
   width: 50%;
}

.chair-txt
{
   background-size: 50vw;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 80px 20px;
   text-align: center;
}

h1, h2
{
   font-family: 'Times New Roman', Times, serif;

}



/* ------ SECTION 2 (1° fond) ------ */

.bg-fond
{
   align-content: center;
   background-image: url("../img/motif.jpg");
   height: 444px;
}

.fond
{
   align-content: center;
}

.color
{
   color: #fff;
   text-align: center;
}

.fond div p
{
   /* padding: 0 37%; */
   text-align: left;
   width: 900px;
}



/* ------ SECTION 3 (Galerie 3 chaises) ------ */

.chairs
{
   height: 50vh;
   display: flex;
}

.black
{
  object-fit: cover;
   width: 50%;
}

.tabouret
{
   object-fit: cover;
   width: 19%;
}

.chair-2
{
   object-fit: cover;
   width: 31%;
}



/* ------ FOOTER (2° fond) ------ */

footer
{
   display: flex;
   flex-direction: column;
   height: 444px;
   justify-content: center;
   align-items: center;
}

h3
{
   font-family: 'Times New Roman', Times, serif;
   font-size: 34px;
   padding: 49px;
}

.logos
{
   display: flex;
   /* flex-wrap: wrap;
   justify-content: center;
   align-items: center; */
   /* padding: ; */
}

@media screen and (max-width: 620px)
{
   header
   {
      align-items: center;
      padding: 14px;
   }

   a
   {
      display: block;
      line-height: 1.5;
      margin: 0;
   }

   .chair
   {
      display: none;
   }

   .chair-txt
   {
      background-image: url("../img/chair-1-c.jpg");
      background-size: cover;
      background-position: center;
      flex: 1 1 100%;
      height: 49vh;
   }

   .t-a
   {
      padding-left: 4%;
      text-align: left;
   }

   .t-f
   {
      padding: 0 4%;
   }

   .chairs
   {
      flex-direction: column;
   }

   .chairs > img
   {
      height: 33.333%;
      width: 100%;
   }

   .fond-2
   {
      padding: 0 4%;
   }

   .logos
   {
      flex-wrap: wrap;
      justify-content: center;
      /* width: 100vw; */
   }

   .f-f
   {
      padding: 0 30px;
   }
}

@media screen and (max-width: 1679px) {
/*   
   .logos
   {
      padding: 4% 18%;
   } */

}