@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body
{

   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: .3px;
   line-height: 1.5;
}


.d-flex
{
   display: flex;
}

.t-d
{
   text-decoration: none;
}

.up
{
   text-transform: uppercase;
}



/* ------ HEADER ------ */

header
{
   background-color: #000;
   height: 100px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

nav
{
   justify-content: space-between;
   margin: 0 auto;
   width: 1141px;
}

header > nav
{
   align-items: center;
}

header > nav > div > a
{
   color: #606060;
   letter-spacing: 1px;
   line-height: 100px;
   padding-left: 46px;
}




/* ------ MAIN / HERO BANNER ------ */

main
{
   background-image: url('../img/backdrop.png');
   background-size: cover;
   color: #fff;
   flex-direction: column;
   height: 768px;

}

.s-1
{
   margin: 0 auto;
}

.shadow
{
   text-shadow: 0 4px 40px rgba(0, 0, 0, .85);
}

.p1
{
   font-family: 'Oswald', sans-serif;
   font-size: 120px;
   font-weight: 700;
   line-height: 131px;
   padding-top: 204px;
   width: 1141px;
}

.p2
{
   font-size: 16px;
}

#discover
{
   background-color: rgba(255, 255, 255, .2);
   border: none;
   line-height: 67px;
   margin-top: 21px;
   width: 242px;
}

#discover > a
{
   color: #fff;
   letter-spacing: 1px;
}



/* ------ SECTION ------ */

section
{
   height: 194px;
   align-items: center;
   background-color: #292d33;
}

section > div
{
   height: 73.78;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   width: 1141px;
}



/* ------ FOOTER ------ */

footer
{
   height: 240px;
   align-items: center;
   background-color: #191919;
}

h2
{
   font-size: 14px;
}

footer > nav
{
   justify-content: space-between;
   width: 1141px;
}

.l-s
{
   letter-spacing: .6px;
   line-height: 24px;
}

.semi
{
   font-weight: 600;
}

.i1
{
   height: 48px;
   width: 50px;
}

.i2
{
   height: 29px;
   margin-left: 24px;
   margin-top: 10px;
}

.links
{
   gap: 78px; 
}

.l1
{
   flex-direction: column;
}

.l2
{
   flex-direction: column;
}

.color1
{
   color: #999;
   text-transform: capitalize;
}

.color2
{
   color: #666;
}

ul
{
   list-style: none;
}
