@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root
{
   --primary-dark: #213442;
   --primary-red: #E83F43;
   --dark-logo: #000829;
   --hover-red: #C53135;
   --darkshadow: rgba(0, 0, 0, .6);
   --darkgrey: #4D5D68;
   --transparent: rgba(255, 255, 255, .7);
   --shadow: 0 2px 20px rgba(0, 0, 0, .04);
   --white: #FFF;
   --lightgrey: #E9EBED;
}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-transform: capitalize;
}

html
{
   color: var(--primary-dark);
   font-family: 'Barlow', sans-serif;
   font-size: 62.5%;
   font-weight: 400;
   /* letter-spacing: .1px; */
   line-height: 1.5;
}

body
{
   font-size: 2rem;
}

a
{
   color: inherit;
   cursor: pointer;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
   font-weight: 700;
   /* Toujours privilégier un ratio à une taille fixe (1.2 vs 58px ou 5.8rem). */
   line-height: 1.2;
}

h2
{
   font-size: 5.6rem;
   margin-bottom: 2rem;
}

h2 + p
{
   margin-bottom: 8rem;
}

img
{
   display: block;
   max-width: 100%;
}

section
{
   padding: 6vw 2rem;
   text-align: center;
}

ul
{
   list-style: none;
}



/* ------ UTILITAIRES ------ */

.btn
{
   background-color: var(--primary-red);
   border: none;
   border-radius: 3px;
   color: var(--white);
   /* Les propriétés 'display: inline-block' et 'line-height' combinées permettent de définir la hauteur du conteneur de l'élément tout en augmentant sa surface cliquable et sans se soucier de la hauteur du padding => Très utile ppour les boutons ou items de menu. */
   display: inline-block;
   font-size: 2rem;
   font-weight: 700;
   /* letter-spacing: .1px; */
   line-height: 6rem;
   padding: 0 3.2rem;
   transition: all .7s ease-out;
}

.btn:hover
{
   background-color: var(--hover-red);
}

.container
{
   margin: 0 auto;
   max-width: 140rem;
}

.d-flex
{
   display: flex;
}

.lower
{
   text-transform: lowercase;
}

.size16
{
   font-size: 1.6rem;
}

.size24
{
   font-size: 2.4rem;
}



/* ------ HEADER ------ */

header
{
   background-color: var(--white);
   box-shadow: var(--shadow);
   padding: 0 4rem;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}

nav
{
   height: 7rem;
   justify-content: space-between;
   align-items: center;
}

.logo
{
   color: var(--dark-logo);
   font-weight: 700;
}

.active, .dot, i, .menu li a:hover
{
   color: var(--primary-red);
}

.menu
{
   gap: 3.2rem;
}

.menu li a
{
   font-size: 1.8rem;
   font-weight: 700;
}

/* ------ MENU BURGER ------ */
.menu-burger, .menu-icon
{
   display: none;
   justify-self: end;
   order: 3;
}

.menu-icon i
{
   background-color: var(--primary-dark);
   display: block;
   width: 2rem;
   height: 1px;
   transition: all .3s ease;
}

.menu-icon i + i
{
   margin-top: 6px;
}

/* ~ : cible un élément enfant ayant le même parent (direct ou non-direct) */
.menu-burger:checked ~ .menu
{
   height: calc(100vh - 7rem);
   opacity: 1;
}

.menu-burger:checked + .menu-icon i:nth-child(1)
{
   transform: translateY(7px) rotate(45deg);
}

.menu-burger:checked + .menu-icon i:nth-child(2)
{
   opacity: 0;
}

.menu-burger:checked + .menu-icon i:nth-child(3)
{
   transform: translateY(-7px) rotate(-45deg);
}



/* ------ HERO / EXPLORE ------ */

.hero
{
   background: url(../img/hero-bkg\ 1.jpg) no-repeat center center/cover;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.hero article
{
   background-color: var(--transparent);
   border-radius: 6px;
   /* L'élément 'article' prend toujours 50% de la largeur de son conteneur => Utile en responsive. */
   flex: 0 1 50%;
   min-height: 33.2rem;
   padding: 3.2rem;
   max-width: 76rem;
   text-align: left;
}

h1
{
   font-size: 6.4rem;
   line-height: 7.6rem;
   margin-bottom: 2rem;
}

.hero article p
{
   margin-bottom: 4rem;
}



/* ------ TRIPS ------ */

.trips div
{
   flex-wrap: wrap;
   gap: 12rem;
   justify-content: center;
}

.trip
{
   border-radius: 6px;
   position: relative;
   text-align: right;
}

.trip div
{
   /* Toujours mettre une 'position: relative' au parent d'un élément positionné en 'absolute' (ici; à la classe trip) . */
   position: absolute;
   right: 3.2rem;
   bottom: 3.2rem;
}

.trip > div > h3
{
   color: var(--white);
   font-size: 3.6rem;
   /* letter-spacing: .3px; */
   margin-bottom: 1.6rem;
}



/* ------ WHERE ------ */

.where
{
   padding: 10rem 0;
}

.tiles
{
   flex-wrap: wrap;
   margin-bottom: 9rem;
}

.tile
{
   flex: 0 1 25%;
}

.tile article
{
   position: relative;
}

.caption
{
   background-color: var(--darkshadow);
   color: var(--white);
   padding: 1.6rem;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.caption h3
{
   font-size: 1.8rem;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.caption h4
{
   font-size: 1.8rem;
   font-weight: 400;
   letter-spacing: 2px;
}


.where > div > a
{
   text-align: center;
}



/* ------ SERVICES ------ */

.articles
{
   gap: 3.2rem;
   justify-content: space-between;
}

.article > i
{
   font-size: 5rem;
   margin-bottom: 2.4rem;
}

.article h3
{
   font-size: 2rem;
   margin-bottom: 2rem;
}



/* ------ "WIN" ------ */

form
{
   gap: 4rem;
   justify-content: center;
}

/* Pour cibler exclusivement ce champ (de type 'email'). */
input[type="email"]
{
   background-color: var(--lightgrey);
   border: none;
   border-radius: 3px;
   color: var(--darkgrey);
   font-size: 2rem;
   line-height: 6rem;
   padding: 0 1.6rem;
   width: 43.2rem;
}

input[placeholder], .jap
{
   text-transform: capitalize;
}



/* ------ FOOTER ------ */

footer
{
   background-color: var(--primary-dark);
   color: var(--white);
   /* Line-height permet de centrer verticalement le contenu VS height. */
   line-height: 9rem;
   text-align: center;
}



/* ------ MEDIA QUERIES ------ */

@media (max-width: 879px)
{
   /* HEADER */
   .menu-icon
   {
      cursor: pointer;
      display: inline-block;
      padding: 1.2rem 0 1.2rem 1.2rem;
      z-index: 1;
   }

   .menu
   {
      align-items: center;
      background-color: var(--white);
      flex: 1 1 100%;
      flex-direction: column;   
      height: 0; 
      justify-content: center;
      left: 0;
      /*  Pas de 'display: none;' car l'animation ne fonctionnerait pas => Utiliser 'opacity'. */
      opacity: 0;
      position: absolute;
      transition: all .3s ease-in-out;
      width: 100vw;
   }

   .menu li
   {
      text-align: center;
      width: 100%;
   }

   /* HERO */
   .hero article
   {
      flex: 0 1 auto;
   }

   /* TRIPS */
   .trips div
   {
      gap: 6rem;
   }

   /* WHERE */
   .tile
   {
      flex: 0 1 50%;
   }

   /*  WIN */
   form
   {
      align-items: center;
   }
} 



@media (max-width: 579px)
{
   h2
   {
      font-size: 3.6rem;
   }

   h2 + p
   {
      font-size: 1.8rem;
   }

   section
   {
      padding: 10vw 2rem;
   }

   .btn
   {
      line-height: 4.8rem;
   }

   /* HERO */
   .hero article
   {
      flex: 0 1 auto;
      font-size: 1.9rem;
      max-width: inherit;
   }

   h1
   {
      font-size: 3.9rem;
   }

   /* TRIPS */
   .trips .container
   {
      gap: 6rem;
   }

   .trip div h3
   {
      font-size: 3.2rem;
      text-shadow: 0 4px 8px rgba(0, 0, 0, .6);
   }

   /* WHERE */
   .tiles
   {
      justify-content: center;
   }

   .tile
   {
      flex: 0 1 auto;

   }

   /* SERVICES */
   .services .articles
   {
      flex-wrap: wrap;
   }

   /* WIN */
   form
   {
      flex-direction: column;
   }

}